.mainFooter {
    width: 100vw;
    height: 200px;
    background-color: #1C202B;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actualFooter {
    width: 75%;
    min-height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lineOne {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lineTwo {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.mainLogo {
    font-size: 2.2em;
    font-weight: 900;
    cursor: pointer;
}

.bottomRight {
    margin-top: 16px;
    color: #CECECE;
    font-size: 14px;
}

.button {
    margin-left: 55px;
    color: #080101;
    text-decoration: none;
    background-color: #D9D9D9;
    font-weight: 700;
    font-size: 1rem;
    width: 84%;
    min-width: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}