.main {
    display: flex;
    justify-content: space-between;
}

.leftCategories {
    background-color: #131313;
}
 
.fullLeft {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 5.5vh;
    padding-bottom: 4vh;
    text-align: center;
}

.category {
    position:inherit;
    width: 200px;
    font-size: 1.18em;
    font-weight: 600;
    padding-top: 9.5px;
    height: 39px;
    text-align: center;
    margin: auto;
    border-radius: 21px;
    cursor: pointer;
}

.allInfo {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
}

.searchSection, .allSortFields, .actualTable {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

.searchSection input {
    width: 70%;
    border-radius: 20px;
    background-color: #242A36;
    border: none;
    font-size: 1.2em;
    font-weight: 800;
    padding-left: 16px;
    font-family: 'Poppins', sans-serif;
    height: 49px;
    color: white;
}

.searchSection {
    margin-bottom: 25px;
}

.button {
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2em;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.allSortFields {
    display: flex;
    justify-content: left;
    margin-bottom: 10px; 
}

.selectFieldsButton {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.05em;
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 15px;
    background-color: #242A36;
    margin-right: 20px;
    cursor: default;
}

.selectFields0, .selectFields1 {
    color: white;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    margin: 4px;
    color: #131313;
}

.selectFields0 {
    font-size: 1.1em;
    width: 12.6%;
    min-width: 110px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 18px;
}

.selectFields1 {
    font-size: 1.08em;
    width: 17%;
    min-width: 145px;
    padding-top: 8.1px;
    padding-bottom: 8.1px;
    border-radius: 19px;
}

.innerSortingButtons {
    width: 80%;
}

.actualTable {
    min-width: 60%;
    width: 1050px;
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #242A36;
    margin-left: 4%;
    border-radius: 15px;
    -webkit-box-shadow: 8px 8px 0px -1px rgba(255,255,255,1);
    -moz-box-shadow: 8px 8px 0px -1px rgba(255,255,255,1);
    box-shadow: 8px 8px 0px -1px rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.headingRow {
    width: 95%;
    margin-left: 40px;
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 800;
}

.tableLeft, .tableRight {
    display: flex;    
}

.tableLeft {
    width: 58%;
    gap: 26%;
}

.tableRight {
    width: 49%;
    justify-content: space-around;
}

.rows {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.oneRow {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: 700;
    padding: 4px;
    border-radius: 15px;
    animation: all 0.5s ease-in-out infinite;
}

.rowLeft, .rowRight {
    display: flex;    
}

.rowLeft {
    width: 40%;
}

.rowRight {
    width: 55%;
    justify-content: space-around;
}

.likeSection {
    width: 100px;
    text-align: center;
    margin-left: 55px;
    cursor: pointer;
    margin-top: -7px;
    user-select: none;
}

.name {
    width: 220px;
}

.industry {
    background-color: aliceblue;
}

.stageButton {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9em;
    width: 155px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 50px;
    outline: none;
}

.moreInfoButton {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.85em;
    width: 115px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    text-align: center;
    border-radius: 15px;
    margin-left: 35px;
    cursor: pointer;
    outline: none;
    background-color: #E3FFFC;
    border: none;
}
